@{
    ViewData["Title"] = "Home";
}


@model CaseManagement.Models.Home.HomeDetailModel
<div class="mdl-grid">


    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="applicants">
                <h2 class="mdl-card__title-text homeLabel">Applicants & Cases</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Manage Applicants & Create Loan Applications
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored" asp-controller="Applicant" asp-action="Index">
                    View Applicants
                </a>
            </div>
        </div>
    </div>


    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="cases">
                <h2 class="mdl-card__title-text homeLabel">Current Cases & Submissions</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Manage assigned Cases & Create Submissions.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored" asp-controller="Cases" asp-action="CurrentCases">
                    View Current cases
                </a>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="reports">
                <h2 class="mdl-card__title-text homeLabel">Reports</h2>
            </div>
            <div class="mdl-card__supporting-text">
                View Reports as Sales Admin Manager
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored" asp-controller="Reports" asp-action="Index" />
                View Reports
                </a>
            </div>
        </div>
    </div>
</div>


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
        <div id="patronIndex">

    <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="patronIndexTable">

        <thead>
            <tr>

                <th>Loan Amount</th>
                <th>Date Created</th>
                <th>Status</th></tg>
                <th>Rectify</th>

            </tr>

        </thead>

        <tbody>
            @foreach (var cases in Model.Cases)
            {
                <tr>


                    <td>@cases.LoanAmount</td>
                    <td>@cases.DateCreated</td>
                    <td>@cases.Status</td>



                </tr>
            }

        </tbody>

    </table>
</div>




    </div>
    <div class="mdl-cell mdl-cell--6-col text-right">
        <div id="patronIndex">

            <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="patronIndexTable">
                <thead>
                    <tr>

                        <th>Date Created</th>
                        <th>Status</th>
                        <th>Bank</th>
                        <th>Rectify</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var submissions in Model.Submissions)
                {
                    <tr>

                        <td>@submissions.DateSubmitted</td>
                        <td>@submissions.Status.Name</td>
                        <td>@submissions.Bank.Name</td>

                    </tr>
            }
                </tbody>

            </table>
        </div>
    </div>
 </div>
